.DS_Store
.metadata
.recommenders
TrailAppJPA/.gradle
TrailAppJPA/bin
TrailAppJPA/build
TrailAppJPA/target
TrailAppREST/.gradle
TrailAppREST/bin
TrailAppREST/build
TrailAppREST/target
RemoteSystemsTempFiles
Servers
