.DS_Store
.metadata
.recommenders
ListAppJPA/.gradle
ListAppJPA/bin
ListAppJPA/build
ListAppJPA/target
ListAppREST/.gradle
ListAppREST/bin
ListAppREST/build
ListAppREST/target
RemoteSystemsTempFiles
Servers
