<div class="container-fluid" ng-init="subView='none'">
  <h2>About Page</h2>

  <!-- <ul class='list-inline'>
    <li class="btn" ng-class="(subView==='theSite')?'btn-success':''" ng-click="subView='theSite'">The Site</li>
    <li class="btn" ng-class="(subView==='theTeam')?'btn-success':''" ng-click="subView='theTeam'">The Team</li>
    <li class="btn" ng-class="(subView==='theDisclaimer')?'btn-success':''" ng-click="subView='theDisclaimer'">TrailAPI</li>
  </ul> -->

  <div name="theSite" class="panel aboutDiv">
    <h3 id="aboutHeader">Trail Update</h3>
    <p class="aboutTrailUpdate">Trail Update was created in 2017 as an effort to crowd source information
      about trail conditions, giving users the ability to search, filter, and update
      information. While mantained by a small team of dedicated developers, it is
      dependent on you, the user, to stay current. Enjoy the site and please, submit
      reports often! Happy trails!
    </p>
  </div>

  <div name="theTeam" >
    <h2 id="teamHeader">The Team</h2>

<!--Teammate begin: Chaz -->
    <div class="panel teammate">
      <div>
        <h3 class="teammateHeader">Steven Sroczynski</h3>
      </div>

      <div class="teammateInfo">
        <div>
          <img src="http://www.stevensroczynski.com/img/steven.jpg" class="teammateImage">
        </div>
        <div>
        <hr>
        <p class="aboutTrailUpdate">I am a world traveller, outdoor lover, and closet nerd.
          I've travelled to 56 countries, lived on 4 continents, and climbed 9 "14ers"
          (so far...). I love books by Isaac Asimov, Orson Scott Card, and Ayn Rand.
          Water and the mountains make me happy. <br> <br>

          In my professional life, I'm a full-stack
          developer with experience in Java, Spring, Spring MVC, Spring REST, SQL, Java
          Persistence API, JavaScript, JQuery, Ajax, and Angular. I'm certified in Java 8 by
          Oracle (91% on the OCP I exam). I have experience in database creation and managment
           (SQL, MySQL, Workbench). You can check out my resume below for more info if you're
           potentially interested in giving me money.
        </p>
        <hr>
        </div>
        </div>
          <div class="aboutContact">
            <ul class="aboutContactList">
              <li>
                <a href="http://www.stevensroczynski.com/" class="btn btn-primary btn-lg">Website</a>
              </li>
              <li>
                <a href="mailto:steven.sroczynski@gmail.com" class="btn btn-primary btn-lg">Email</a>
              </li>
              <li>
                <a href="https://github.com/chazlegrand" class="btn btn-primary btn-lg">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/stevensroczynski/" class="btn btn-primary btn-lg">Linkedin</a>
              </li>
            </ul>
          </div>
     </div>
<!--Teammate End -->

<!--Teammate Given -->
    <div class="panel teammate">
      <div>
        <h3 class="teammateHeader">Steven Sroczynski</h3>
      </div>

      <div class="teammateInfo">
        <div>
          <img src="http://www.stevensroczynski.com/img/steven.jpg" class="teammateImage">
        </div>
        <div>
        <hr>
        <p class="aboutTrailUpdate">I am a world traveller, outdoor lover, and closet nerd.
          I've travelled to 56 countries, lived on 4 continents, and climbed 9 "14ers"
          (so far...). I love books by Isaac Asimov, Orson Scott Card, and Ayn Rand.
          Water and the mountains make me happy. <br> <br>

          In my professional life, I'm a full-stack
          developer with experience in Java, Spring, Spring MVC, Spring REST, SQL, Java
          Persistence API, JavaScript, JQuery, Ajax, and Angular. I'm certified in Java 8 by
          Oracle (91% on the OCP I exam). I have experience in database creation and managment
           (SQL, MySQL, Workbench). You can check out my resume below for more info if you're
           potentially interested in giving me money.
        </p>
        <hr>
        </div>
        </div>
          <div class="aboutContact">
            <ul class="aboutContactList">
              <li>
                <a href="http://www.stevensroczynski.com/" class="btn btn-primary btn-lg">Website</a>
              </li>
              <li>
                <a href="mailto:steven.sroczynski@gmail.com" class="btn btn-primary btn-lg">Email</a>
              </li>
              <li>
                <a href="https://github.com/chazlegrand" class="btn btn-primary btn-lg">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/stevensroczynski/" class="btn btn-primary btn-lg">Linkedin</a>
              </li>
            </ul>
          </div>
     </div>
<!--Teammate End -->

<!--Teammate Geoff -->
    <div class="panel teammate">
      <div>
        <h3 class="teammateHeader">Geoff Edwards</h3>
      </div>

      <div class="teammateInfo">
        <div>
          <img src="" class="teammateImage">
        </div>
        <div>
        <hr>
        <p class="aboutTrailUpdate">
          I'm a full-stack developer with experience in Java, Spring, Spring MVC, Spring REST, SQL, Java
          Persistence API, JavaScript, JQuery, Ajax, and Angular. I'm certified in Java 8 by
          Oracle and have experience in database creation and managment (SQL, MySQL). 
        </p>
        <hr>
        </div>
        </div>
          <div class="aboutContact">
            <ul class="aboutContactList">
              <li>
                <a href="mailto:GGeoffEdwards@gmail.com" class="btn btn-primary btn-lg">Email</a>
              </li>
              <li>
                <a href="https://github.com/GGeoffEdwards" class="btn btn-primary btn-lg">Github</a>
              </li>
            </ul>
          </div>
     </div>
<!--Teammate End -->

<!--Teammate Matt -->
    <div class="panel teammate">
      <div>
        <h3 class="teammateHeader">Matthew Jump</h3>
      </div>

      <div class="teammateInfo">
        <div>
          <img src="./img/MattPic.jpg" class="teammateImage">
        </div>
        <div>
        <hr>
        <p class="aboutTrailUpdate">I'm a full-stack developer with experience in Java, Spring, Spring MVC, Spring REST, SQL, Java
          Persistence API, JavaScript, JQuery, Ajax, and Angular. I'm certified in Java 8 by
          Oracle and have experience in database creation and managment (SQL, MySQL).

     
        </p>
        <hr>
        </div>
        </div>
          <div class="aboutContact">
            <ul class="aboutContactList">
  
              <li>
                <a href="mailto:matthewejump@gmail.com" class="btn btn-primary btn-lg">Email</a>
              </li>
              <li>
                <a href="https://github.com/Jump-23" class="btn btn-primary btn-lg">Github</a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/matthew-jump-a36078138/" class="btn btn-primary btn-lg">Linkedin</a>
              </li>
            </ul>
          </div>
     </div>
<!--Teammate End -->
    </div>

  <div name="theDisclaimer" class="panel" ng-show="subView==='theDisclaimer'">
    <h3>TrailAPI</h3>
    <p>blah blah blah</p>
  </div>
</div>
