<nav id="navComponent" class="navbar navbar-default navigation-clean">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">TrailApp</a>
    </div>

    <ul class="nav navbar-nav">
      <li class="presentation"><a href="#/">Home</a></li>
      <li class="presentation"><a href="#/search">Search</a></li>
      <li class="presentation" ng-hide="$ctrl.loggedIn()"><a href="#/login">Login</a></li>
      <li class="presentation" ng-hide="$ctrl.loggedIn()"><a href="#/signup">Sign up</a></li>
    <li class="presentation" ng-show="$ctrl.loggedIn()" ng-click="$ctrl.logout()"><a href="#/logout">Logout</a></li>
    </ul>
  </div>
</div>
