<h2>Search Form</h2>

<div class="row">
	<form class="form" name="searchForm" novalidate
	      ng-init="params=$ctrl.search">
		<div class="row">
			<div class="col-md-6 text-center">
				<div class="form-group">
					<label for="city">City</label>
					<input class="form-control cityField"
					       type="text" name="city" placeholder="city" required
								 ng-model="params.city" />
				</div>
			</div>
			<div class="col-md-6">
				<div class="col-md-6">
					<div class="form-group">
						<label for="state">State</label>
						<select class="form-control" name="state" required ng-model="params.state">
							<option ng-repeat="state in $ctrl.states"
											value="{{state.name}}">{{state.abbr}}</option>
						</select>
						<!-- <input class="form-control"
							type="text" name="state" placeholder="state"
							ng-model="search.state" /> -->
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="radius">Proximity</label>
						<!-- <input class="form-control pull-right"
						       type="number" name="radius" placeholder="miles"
									 ng-model="params.radius" /> -->
						<select class="form-control pull-right" name="radius" required
						        ng-model="params.radius" >
							<option ng-repeat="mi in ['10','25','50','100']"
							        value="{{mi}}">{{mi}} mi</option>
						</select>

					</div>
				</div>
			</div>
		</div>
		<div class="row">
		<div class="col-md-6">
		<div class="col-md-3"></div>
		<div class="col-md-6 title">Trail Length</div>
		<div class="col-md-3 "></div>
		</div>
		<div class="col-md-6"></div>


		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="col-md-6">
					<div class="form-group">
						<label for="length-min">Min</label> <input
							class="form-control" type="number" name="length-min"
							placeholder="miles" ng-model="params.lengthMin" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="length-max">Max</label> <input
							class="form-control" type="number" name="length-max"
							placeholder="miles" ng-model="params.lengthMax" />
					</div>
				</div>
			</div>

			<div class="col-md-6 text-center">
				<div class="form-group">
					<label for="since">Updated After</label> <input class="form-control updateField"
						type="date" name="since" placeholder="since"
						ng-model="params.since" />
				</div>

			</div>
		</div>
		<div class="row">
		<div class="col-md-12">

				<button class="btn btn-primary btn-lg" type="button" name="button"
					ng-click="params={state:'Colorado'}">Clear</button>


				<button class="btn btn-primary btn-lg" type="button" name="button"
				        ng-disabled="searchForm.$invalid"
				        ng-click="$ctrl.executeSearch(params)">Submit</button>

			</div>
		</div>


		<!-- <div class="form-group">
      <label for="snow">snow</label>
      <select class="form-control" name="snow" ng-model="search.snow">
        <option ng-repeat="snow in ['none','lite','med','heavy']"  value="{{snow}}" ng-model="search.snow">{{snow}}</option>
      </select>

      <div ng-repeat="snow in ['none','lite','med','heavy']" ng-init="search.snow={}">
        <form><input type="checkbox"  ng-model="search.snow[snow]"  name="{{snow}}">{{snow}}</form>
      </div>


    </div>

    <div class="form-group">
      <label for="ground">ground</label>
      <select class="form-control" name="ground" ng-model="search.ground">
        <option ng-repeat="ground in ['dry','mud','icy']"  value="{{ground}}" ng-model="search.ground">{{ground}}</option>
      </select>

      <div ng-repeat="ground in ['dry','mud','icy']" ng-init="search.ground={}">
        <form><input type="checkbox"  ng-model="search.ground[ground]" name="{{ground}}">{{ground}}</form>
      </div>
    </div>

    <div class="form-group">
      <label for="pass">passabilty</label>
      <select class="form-control" name="pass" ng-model="search.pass">
        <option ng-repeat="pass in ['open','hazard','closed']"  value="{{pass}}" ng-model="search.pass">{{pass}}</option>
      </select>

      <div ng-repeat="pass in ['open','hazard','closed']" ng-init="search.passability={}">
        <form><input type="checkbox"  ng-model="search.passability[pass]" name="{{pass}}" value="false">{{pass}}</form>
      </div>
    </div> -->
	</form>
</div>
