
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="trail wow fadeIn">Trail Update</h1>

			<button class="btn btn-primary btn-lg" type="button" ng-hide="log"
							ng-click="log=true;search=false;sign=false;intro=true">Login</button>

			<button ng-hide="sign" ng-click="sign=true;search=false;log=false;intro=true"
			        class="btn btn-primary btn-lg" type="button">Sign Up</button>

			<button class="btn btn-primary btn-lg type="button" ng-hide="search"
			        ng-click="search=true;sign=false;log=false;intro=true">Search</button>
		</div>
	</div>
	<p ng-hide="intro">This page is for searching trails. Blah Blah blah blah.</p>
	<div class="row">
		<div ng-show="log" class="col-md-12">
			<login-component>Loading login...</login-component>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2"></div>

		<div ng-show="search" class="col-md-8 search">
			<search-component trails='[]' on-submit="welcome.submitSearch">
				Loading search...</search-component>
		</div>
		<div class="col-md-2"></div>

		<div ng-show="sign"  class="col-md-12">
			<signup-component>Loading signup...</signup-component>
		</div>


		<!-- <a href = "#/search"><button class="btn btn-primary btn-lg" type="button">Search</button></a> -->
	</div>
</div>
